TELNYX_API_KEY=
COMMUNICATIONS_ALLOWED_MESSAGE_SENDERS=+15551230001
COMMUNICATIONS_ALLOWED_MESSAGING_PROFILES=40017f5d-6d63-4f55-b5b4-b6fc4642dd1d
COMMUNICATIONS_ALLOWED_CALL_FROM_NUMBERS=+15551230001
COMMUNICATIONS_ALLOWED_CALL_CONNECTIONS=17f9d2c4-f38b-471f-9326-4942b492aa80
COMMUNICATIONS_ALLOWED_VERIFY_PROFILES=75fcc8b9-9f29-44f2-b5f2-9d56fd42dc49
COMMUNICATIONS_ALLOWED_VERIFY_CHANNELS=sms,call
COMMUNICATIONS_DEFAULT_POLICY_TAG=operator_outreach
COMMUNICATIONS_MAX_MEDIA_URLS=3
COMMUNICATIONS_MAX_PAGE_SIZE=50
COMMUNICATIONS_MAX_TIMELINE_WINDOW_HOURS=72
COMMUNICATIONS_IDEMPOTENCY_TTL_MS=3600000
